In [19]:
import pandas as pd

In [20]:
connection_url = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"

In [44]:
user_data = pd.read_sql(
    "SELECT * FROM user_data",     
    connection_url                                 
)

print(user_data.shape)

user_data.head()

(163205, 8)

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [45]:
feed_data = pd.read_sql(
    "SELECT * FROM feed_data limit 100000",     
    connection_url                                 
)

print(feed_data.shape)

feed_data.head()

(100000, 5)

            timestamp  user_id  post_id action  target
0 2021-10-19 07:04:21   158228     5601   view       0
1 2021-10-19 07:04:52   158228      216   view       0
2 2021-10-19 07:06:40   158228     4605   view       0
3 2021-10-19 07:08:56   158228     7173   view       0
4 2021-10-19 07:10:21   158228     2681   view       0

In [46]:
post_text_df = pd.read_sql(
    "SELECT * FROM post_text_df",     
    connection_url                                 
)

print(post_text_df.shape)

post_text_df.head()

(7023, 3)

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [24]:
print(user_data.shape)
print(feed_data.shape)
print(post_text_df.shape)

(163205, 8)
(100000, 5)
(7023, 3)

In [47]:
merged_data = pd.merge(user_data, feed_data, how='outer', on='user_id')

In [48]:
merged_data.shape

(262988, 12)

In [49]:
merged_data = pd.merge(merged_data, post_text_df, how='outer', on='post_id')

In [50]:
merged_data.shape

(263180, 14)

In [53]:
merged_data.dropna().head()

,user_id,gender,age,country,city,exp_group,os,source,timestamp,post_id,action,target,text,topic
162988,30198.0,1.0,27.0,Russia,Kaliningrad,2.0,iOS,ads,2021-10-15 07:16:54,2725.0,view,0.0,WORD STRENGTH OF THE DAY\nThe Burden Bearer\n1...,covid
162989,61092.0,1.0,24.0,Russia,Moscow,2.0,iOS,ads,2021-10-22 11:26:04,2725.0,view,0.0,WORD STRENGTH OF THE DAY\nThe Burden Bearer\n1...,covid
162990,151576.0,1.0,20.0,Estonia,Tallinn,0.0,Android,organic,2021-11-18 13:08:14,2725.0,view,0.0,WORD STRENGTH OF THE DAY\nThe Burden Bearer\n1...,covid
162991,158231.0,1.0,21.0,Russia,Verkhnyaya Pyshma,4.0,Android,organic,2021-10-25 08:58:03,2725.0,view,0.0,WORD STRENGTH OF THE DAY\nThe Burden Bearer\n1...,covid
162992,30198.0,1.0,27.0,Russia,Kaliningrad,2.0,iOS,ads,2021-10-15 07:17:23,6747.0,view,0.0,"I grew up in Baltimore, so I was exposed to th...",movie